input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select,
::picker(select) {
  appearance: base-select;
  background: var(--bg-form);
}

::picker(select) {
  border: none;
  border-radius: 0.75rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.4);
  background: var(--bg-form);
  border: 1px solid var(--bordes);
}

select option {
  padding: 0.5rem;
  color: var(--texto);
}

select option:hover {
  color: var(--secondary);
}

/* 1. CAMBIAR EL ICONO Y ALINEARLO A LA DERECHA */
select::picker-icon {
  color: var(--secondary);
}

/* 2. MANIPULAR EL ICONO DE SELECCIÓN (Subrayado en azul) */
option::checkmark {
  color: var(--secondary); /* Cambia esto por tu color o variable deseada */
}
